body {
    display: center;
    justify-content: left;
    align-items: center;
    height: 100vh;
    font-size: 18px;
    margin: 1%;
    padding: 1%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #679ab6;
    background: #d6af92;
  }

  .input {
    display: center;
  }  

  #formulario {
    padding: 30px;
    width: 40%;
    min-height: 50vh;
    background-color: #31a2f3;
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.589);
  }


.input {
    display: center;
  }

  #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 80%;
    min-height: 50vh;
    background-color: #d4e4f0;
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.589);
  }

  .apellido {
    display: center;
    width: 50%;
    margin: 15px;
  }  
  
  .edad {
    display: center;
    width: 45%;
    margin: 15px;
  }

  input[type="text"],input[type="email"] {
    width: 100%;
  }

  .provincia {
    display: center;
    width: 35%;
    margin: 15px;
  }
  
  .localidad {
    display: center;
    width: 45%;
    margin: 15px;
  }

  .sexo {
    width: 20%;
    margin: 15px;
    display: grid;
  }
  
  .intereses {
    width: 30%;
    margin: 15px;
    display: grid;
  }  
    
  .item {
    display: center;
  }  
         
  button {
    margin-top: 10px;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: bold;
    color: #c2b8b0;
    background-color: #f3faf8;
    width: 120%;
    height: 9vh;
  }
  
