body{
    background-color: grey;
}
div {
    background-color: red;
    width: 600px;
    height: 400px;
    position: absolute;   
    
}
  
.div2 {
    
    position: relative;
    height: 80%;
    width: 30%;
    margin: 1%;
    float: left;
    

}
.subdiv {
    float: left;
    width: 30%;
    height: 80%;
    position: relative ;
    margin: 10%;
    

}
/*.div4 {
    background-color: greenyellow;
    height: 300px;
    width: 200px;
    left: 300px;
    position: absolute ;
    top: 50px;
    

}
.div5 {
    background-color: greenyellow;
    height: 300px;
    width: 200px;
    left: 300px;
    position: absolute ;
    top: 50px;
    

}*/

