html{
    
    
}
body {
    background-color: #999999;
    margin: 50px;
    
    
}
div {
    background-color: #00ff00;
    margin: 20px;
    border: solid;
    border-width: 3px;
    padding: 50px ;
    
    width: 200px;
    height: 400px;  
}
p {
    color: red;
    text-align: left;
}