.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message {
    font-size: 60px;
}

table {
    font-family: "Trebuchet MS", Arial, verdana, sans-serif;
    border-collapse: collapse;
    width: 500px;
}
  
td, th {
    border: 7px solid rgb(124, 108, 197);
    padding: 12px;
}
  
tr:nth-child(even){background-color: #f0bf77;}
  
tr:hover {background-color: rgb(235, 214, 176);}
  
th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background-color: #2bc465;
    color: rgb(236, 239, 240);
}